/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('assets/fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    font-size: 1em;
    font-weight: 500;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

body {
   background-color:#2b272c;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: white;
   background: linear-gradient(to right, #042831f5, #370c35ed);
}

.container {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 70px;
    padding-top: 20px;
}

.no-visible {
    display: none;
}

.header-symbol {
    max-height: 40px;
    margin:auto 0;
    filter: invert(100%);
    transition: 1s;
    padding-left: 40px;
}

.header-symbol:hover {
    transform: rotate(20deg) scale(1.2);
    filter: invert(30%);
}

.logo-link {
    margin:auto 0;

}

.nav-list {
    display: flex;
    margin: auto 0;
    height: 70px;

}

.nav-link {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
}

.nav-item {
    width: 150px;
    text-align: center;
    padding: 20px 0;
    transition: .7s;

}

.nav-item:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 2px 2px  #3825b3, 0 10px 10px #3825b3;
}




/* main styles */

main {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    justify-content: space-around;
}

.cv-photo {
    height: 300px;
    padding: 0 auto;
    border-radius: 100%;
    box-shadow: 0 14px 28px rgba(0, 208, 205, 0.347), 0 10px 10px rgba(151, 11, 151, 0.763);
    transition: .8s;
    margin-top: 40px;
}

.cv-photo:hover {
    transform: scale(1.04);
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(204, 16, 16, 0.127), 0 10px 10px rgba(111, 11, 151, 0.763);

}

.welcome-title {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    transition: .5s;
}

.welcome-title:hover {
    transform: scale(1.05);
}

.insta-link {
    border-radius: 100%;
    margin-top: 30px;
}

.stan-span {
    color: #3825b3;
    font-weight: 500;
    font-size: 50px;
}

/* _______-_____-________ */

.desc-inner {
    display: flex;
    height: 140px;
}

.start-info {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    margin-top: 30px;
    letter-spacing:7px;
    transition: .5s;
    margin-left: 30%;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(65, 65, 117), 0 0 0.2em blue;

}

.start-info:hover {
    transform: scale(1.05);
}

.desc-img {
    height: 100px;
    
}

.desc-img-div {
    width: 300px;
    opacity: 0;
    transition: .6s;
}

.desc {
    cursor: pointer;
}

.start-info:hover ~.desc-img-div{
    opacity: 1;
    transition: 2s;
}

.tg-btn {
    padding: 8px;
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 170px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    transition: .7s;  color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #363531 #000 #1a1919;
    border-radius: 6px;
    background: linear-gradient(#363531, #272625) #1a1919;
    transition: 0.4s;
    margin-top: 20px;
    font-size: 22px;
    padding-top: 8px;
    }

.tg-btn:hover {
    transform: scale(1.04);
    box-shadow: 2px 2px 2px 2px  #3825b3, 0 10px 10px #3825b3;
}

.about-section {
    width: 1000px;
    margin: 50px auto 0;
    font-size: 24px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(92, 92, 165), 0 0 0.2em blue;

}

.p1::before {
    content: "<";
    margin-left: -20px;
    color: #3825b3;
    font-size: 30px;
}

.p1::after {
    content: "/>";
    margin-right:-px;
    color: #3825b3; 
    font-size: 30px;
}

.p2::before {
    content: "<";
    margin-left: -20px;
    color: #3825b3;
    font-size: 30px;
}

.p2::after {
    content: "/>";
    margin-right:-px;
    color: #3825b3;
    font-size: 30px;
}

.p3::before {
    content: "<";
    margin-left: -20px;
    color: #3825b3;
    font-size: 30px;
}

.p3::after {
    content: "/>";
    margin-right:-px;
    color: #3825b3;
    font-size: 30px;
}

.skills-section {
    background-color: #3825b323;
    margin: 80px auto 0;
    width: 1200px;
    height: 400px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px;
    color: deeppink;
}


.why-hire {
    font-size: large;
    margin-right: 300px;
    margin-bottom: 20px;
    transition: 1s;

}

.flex-cont{
    display: flex;
    flex-direction: row;
    width: 500px;
    margin-left: 50px;
    margin-top: 20px;
    transition: 1s;
}

.flex-cont div {
    transition: .2s;
 
}

.skills-section:hover .flex-cont div {
    color: aqua;
    transition: 1s;
}

.cont1 {
    border-color:limegreen;
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px;
    margin-left: 20px;
}

.cont1 {
    margin-left: 100px;
    margin-top: 20px;
}

.flex-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    margin-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
}

.flex-skills div {
    margin-bottom: 20px;
}

.flex-skills1 div::before {
    content: "<";
    color: limegreen;
    font-size: 25px;
}

.flex-skills1 div::after {
    content: ">";
    color: limegreen;
    font-size: 25px;
}

.hard-skills {
    margin-left: 30px;
    margin-top: 40px;
    font-size: 40px;
    color: white;
}

.my-skills {
    margin-left: 400px;
    font-size: 40px;
    color: white;
}

.skills-section:hover .why-hire{
    font-size: 35px;
    transform: scale(0.97);
    transition: 1s;
}

.cont2 {
    margin-left: 1140px;
}

.cont2 {
    border-color:limegreen;
    border-style: dashed;
    border-width: 2px;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: 20px;
}

.soft-skills div {
    margin-bottom: 5px;
    text-transform: uppercase ;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.soft-skills div::before {
    content: "[";
    color: limegreen;
    font-size: 25px;
    
}

.soft-skills div::after {
    content: "]";
    color: limegreen;
    font-size: 25px;
}

.soft-skills span {
    color: limegreen;
    font-size: 30px;
}

.flex-skills:last-child {
    padding-top: 0;
}



/* EXPIRIENCE SECTION START */



.expirience-section {
    width: 1200px;
    margin: 80px auto 0;
    background-color:rgba(220, 20, 60, 0.144);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

.expirience-section:hover .exp-title {
    transform: scaleX(0.97);
    transition: 1s;
}

.expirience-section:hover li {
    transform: scale(1.05);
    transition: 1s;
}

.expirience-section:hover p {
    transform: scale(.97);
    font-size: 30px;
    transition: 1s;
}

.subtitle-exp {
    margin: 30px 0 0 50px;
    color:deeppink;
    font-size: 24px;
    transition: 1s;
}

.exp-title {
    font-size: 50px;
    margin-left: 80px;
    margin-top: 20px;
    transition: 1s;
    margin-bottom: 20px;
    
}



.exp-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: 360px;
    align-items:center ;
    justify-content: center;
}

.exp-list-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: 360px;
    align-items:center ;
    justify-content: center;
}

.exp-list li {
    padding: 10px 20px;
    text-align: center;
    height: 120px;
    width: 450px;
    transition: 1s;
}

.exp1 {
    font-size: 25px;
}

.exp2 {
    font-size: 40px;
    padding: 0 0 15px 0;
}

.exp4 {
    font-size: 35px;
    
}

.exp5 {
    font-size: 25px;

}

.exp6 {
    font-size: 25px;

}



/* Projects section START */

.projects {
   width: 1200px;
   margin: 80px 40px 0;
}

.subtitle-pr {
    color: deeppink;
    font-size: 20px;
    margin: 30px 0 0 50px;
}

.my-projects {
    font-size: 50px;
    margin: 20px 0 0 100px;
    transition: 1s;
}

.img {
    text-align: center;
    background-image: url(assets/images/shelter.png);
    background-size: cover;
    height: 600px;
    width: 1200px;
    margin-top: 20px;
    filter: blur(4px) grayscale(.4);
    cursor: pointer;
    border-radius: 20px;
    transition: 1s;
}

.img:hover {
    filter: blur(1px) grayscale(.9) opacity(.5);
    transform: scale(1.03);
    transition: 1s;
}

.projects:hover .subtitle-pr {
    font-size: 30px;
    transition: 1s;
}

.projects:hover .my-projects {
    font-size: 70px;
    transition: 1s;
}

.text {
    position: relative;
    font-size: 60px;
    margin-left: 100px;
    bottom: 200px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(125, 125, 224), 0 0 0.2em blue;
    font-weight: 600;
    transition: 1s;
}

.education {
    width: 1200px;
    margin: 80px auto 0;
    background-color:rgba(220, 20, 60, 0.144);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
    height: 400px;
}

.flex-edu {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.engl-div {
    width: 400px;
}

.engl-level::before {
    content: ">>";
    margin-right: 5px;
    color: #3825b3;
    opacity: 0;
    transition: 1s;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(125, 125, 224), 0 0 0.2em blue;

} 

.education:hover .engl-level::before {
    opacity: 1;
}

.engl {
    font-size: 22px;
    color: deeppink;
    width: 600px;
    transition: 1s;
}

.engl-level {
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(62, 62, 105), 0 0 0.2em blue;

}

.engl-level span {
    color: #f6fa00;


}

.education:hover .engl{
    font-size: 26px;
    transition: 1s;

}

.education:hover .edu-title{
    font-size: 60px;
    transition: 1s;

}

.education:hover .edu-courses span{
    font-size: 25px;
    transition: 1s;
}

.edu-courses span{

    transition: 1s;

}

.education:hover li::before {
    opacity: 1;
    transition: 1s;
}

.edu-title {
    margin: 40px 0 0 80px;
    font-size: 50px;
    transition: 1s;

}

.edu-courses {
    margin-left: 120px;
    padding-bottom: 20px;
    color: deeppink;
    transition: 1s;
}

.edu-courses li {
    margin-left: 100px;
    padding-top: 15px;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(73, 73, 133), 0 0 0.2em blue;
}

.edu-courses li::before {
    content: ">>";
    margin-right: 5px;
    color: #3825b3;
    opacity: 0;
    transition: 1s;
}

.code {
    background-color: #3825b323;
    margin: 80px auto 0;
    width: 1200px;
    height: 500px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 40px;
    color: deeppink;
}

.code-style {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.my-code {
    width: 700px;
    margin: 0 auto;
}

.codestyle span {
    color: limegreen;
}

#yellows1 {
    color:#f6fa00;
}

#yellows2 {
    color:#f6fa00;
}


#reds1 {
    color: rgb(240, 42, 16);
}

#reds2 {
    color: rgb(240, 42, 16);
}

#reds3 {
    color: rgb(240, 42, 16);
}

#greens1 {
    color: forestgreen;
}

#greens2 {
    color: forestgreen;
}

#greens3 {
    color: forestgreen;
}


.contacts {
    width: 1200px;
    margin: 80px auto 0;
    background-color:rgba(220, 20, 60, 0.144);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
    height: 400px;
}

.contacts:hover .contacts-title {
    font-size: 50px;
    transition: 1s;
}

.contacts:hover .contacts-list li::before {
    opacity: 1;
    transition: 1s;
}

.contacts-title {
    margin: 40px 0 0 80px;
    font-size: 45px;
    transition: 1s;

}

.contacts-list {
    margin-left: 250px;
}

.contacts-list li {
    padding-top: 15px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(73, 73, 133), 0 0 0.2em blue;

}

.contacts-list li::before {
    content: ">>";
    margin-right: 5px;
    color: #3825b3;
    opacity: 0;
    transition: 1s;
}



.footer {
    width: 1200px;
    margin: 80px auto 0;
    background-color: rgba(73, 73, 133, 0.096);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;


}

.footer-flex {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.gh{
    height: 50px;
    margin-top: 40px;
    

}

.rs-img {
    height: 100px;
    margin-top: 10px;
    

}

.year {
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 1px red, 0 0 1em rgb(38, 38, 71), 0 0 0.2em blue;

}
